/* variables.css */
:root {

    --dark: #4e99d2;
    --darker: #172f42;
    --light: #d2e4f2;
    --lighter: #e9f6ff;
    --red: #6b3087;
}

html, body {
    background-color: var(--dark);
    color: var(--light);
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}
 
/* deboogage */
/* * {
    outline: 1px solid red;
 }  */

em {
    color: var(--pink);
    font-style: normal;
    font-weight: normal;
}

span.bluer {
    color: var(--blueer);
    font-style: normal;
    font-weight: normal;
}

main {
    /* background-color: var(--dark); */
    margin-top: 5%;
}

a:hover {
    color: var(--light);
}

a:visited {
    color: var(--red);
  }

a:link {
    color: var(--darker);
  }



/* ================ SECTIONS ================ */

section {
    /* font-size: 2rem; */
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    height: auto;
    width: 100vw;
}

.light h1 {
    color: var(--darker);
    margin-top: 5%;
    margin-bottom: 3%;
    text-align: center;
    /* text-shadow: 2px 2px 4px var(--darker); */
}

.dark h1 {
    margin-top: 5%;
    margin-bottom: 3%;
    text-align: center;
    text-shadow: 2px 2px 4px var(--darker);
}

.light {
    /* background-color: #9bd0f8; */
    color: #25455d;
    background-color: var(--light);
    /* color: var(--darker); */
}

.dark {
    background-color: var(--dark);
    color: var(--light);
}

#dev,
#publi,
#forma,
#com,
#contact {
    padding-left: 10vw;
    padding-right: 20vw;
    text-align: left;
    align-items: left;
    width: 100vw;
    font-size: 1.1em;
}

#bio {
padding-left: 22vw;
padding-right: 22vw;
text-align: left;
align-items: center;
width: 100vw;
font-size: 1.1em;
}

#bio p{
    text-align: justify;
}

#contact p{
    text-align: center;
}

.document-list {
    display: flex;
    flex-direction: column;
}

.document {
    display: flex;
            align-items: flex-start;
            justify-content: space-between;
            padding: 2px 0;
            position: relative;
            line-height: 1.2em;
        }

.tag {
    flex: 0 0 auto;
    text-align: right; /* Aligne le tag à droite */
    width: 150px; /* Largeur fixe pour les tags */
}

.content {
    flex: 1;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 10px;
    /* line-height: 1.2em; */
        }
.sub-content {
            font-size: 0.8em;
            line-height: 1.2em;
        }


/* ================ ICONS ================ */
.icons svg{
   width: 3em;
   height: 3em;
   margin: 1em;
   fill: var(--dark);
}

/* ================ FOOTER ================ */
footer,
footer-component {
    background-color: var(--dark);
        position: relative;
        margin-top: 50px;
        width: 100vw;
}


  /* ======================================= */
  /* ================ MEDIA ================ */
  /* ======================================= */

  @media screen and (max-width: 600px) {
    
    #bio {
        font-size: 1, 5em;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    #bio,
    #dev,
    #publi,
    #forma,
    #com,
    #contact{
        /* width: 80vw; */
        padding-left: 0vw;
        padding-right: 0vw;
        text-align: center;
        align-items: center;
        /* width: 100vw; */
    }
}


