/* variables.css */
:root {
    --gradient : linear-gradient(31deg, rgba(35,36,0,1) 0%, rgb(250, 247, 230) 0%, rgb(249, 249, 243) 100%);
    --yellow: #faf7e6;
    --light: #e7f4ff;
    --dark: #4e99d2;
    --darker: #23639f;
    --highlight: #6b3087;
    /* --shadow: #21248b; */
    /* --contour: #e6f3fe; */
}

html, body {
    background-color: var(--light);
    color: var(--light);
    height: 100vh;
    width: 100vw;
    margin: 0;
}
 
/* deboogage */
/* * {
    outline: 1px solid red;
 }  */


main {
    margin-top: 5%;
}

a:hover {
    color: #23639f;
}

a:visited {
    color: var(--highlight);
  }

a:link {
    color: var(--darker);
  }


/* ================ COMPONENTS ================ */
#nav{
    background-color: var(--light); 
    /* border-bottom-style: solid; */
    /* border-color: var(--yellow); */
    /* border-width: 1px; */
}

#bubbles {
    width: 100vw;
    height: 35vh;
    display:block; 
    font-family: 'Capriola', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    fill: var(--darker);
    font-size: 2.5em;
    text-align: center;
    text-anchor: middle;
    dominant-baseline: middle;
  }

#footer{
    /* background-color: var(--dark);  */
    width: 100vw;
    position: relative;
    text-align: center;
    font-size: small;
    color: var(--darker);
}

/* ================ BIO & CONTACT ================ */

section {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    height: auto;
    padding-left: 25%;
    padding-right: 25%;
}

.light h1 {
    font-family: 'Capriola', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: var(--darker);
    margin-top: 5%;
    margin-bottom: 3%;
    text-align: center;
}

#bio {
    text-align: left;
    align-items: center;
    font-size: large;
    /* font-size: 1.1em; */
}

#bio p{
    text-align: justify;
}

#contact p{
    text-align: center;
    font-size: large;
}



/* ================ SECTIONS ================ */

.sections {
    background: var(--gradient);
    color: var(--dark);
    text-align: left;
    align-items: left;
    font-size: large;
}

.sections h1 {
    font-family: 'Capriola', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    margin-top: 5%;
    margin-bottom: 3%;
    text-align: center;
    color: var(--dark);
}

.light {
    /* background-color: var(--gradient); */
    /* color: #25455d; */
    color: var(--darker);
    background-color: var(--light);
    /* color: var(--darker); */
}




.document-list {
    display: flex;
    flex-direction: column;
}

.document {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2px 0;
    position: relative;
    line-height: 1.2em;
}

.tag {
    flex: 0 0 auto;
    text-align: right; 
    width: 150px;
}

.content {
    flex: 1;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 10px;
}

.sub-content {
    font-size: 0.8em;
    line-height: 1.2em;
    font-family: 'Lekton', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}


/* ================ ICONS ================ */
.icons svg{
    width: 3em;
    height: 3em;
    margin: 1em;
    fill: var(--dark);
}


  /* ======================================= */
  /* ================ MEDIA ================ */
  /* ======================================= */

@media screen and (max-width: 600px) {
      
    #nav {
        padding: 5vw;
        /* font-size: small; */
        line-height: 3vw; 
        font-weight: bold;
        background-color: #e7f4ff90; 
    }

     #navbarNav a:hover {
        background-color: var(--darker);
        color: var(--light);
        padding-left: 2%;
        border-radius: 0 55px  55px 0;
    } 
    
    #navbarNav a:hover::after {
        background-color: var(--dark);
        padding-left: 5%;
        border-radius: 0 55px  55px 0;
    } 
    
    
      #bio {
          padding: 10vw;
        padding-top: 20vw ;
        font-size: 1, 5em;
    }
    
    #bubbles {
        /* padding: 2vw; */
        /* padding-top: 20vw ; */
        font-size: 2em;
    }
    /* #bio, */
    #dev,
    #publi,
    #forma,
    #com,
    #contact
    #footer{
        /* width: 80vw; */
        padding-left: 0vw;
        padding-right: 10vw;
        text-align: center;
        align-items: center;
        /* width: 100vw; */
    }
}


